In [1]:
import pandas as pd
import numpy as np
import sys
import ast

sys.path.append('input/')
sys.path.append('model/')
sys.path.append('training/')
sys.path.append('output/')

from read_data import *
from input_data_generate import * 
from input_data_modifier import *
from model_building import *
from wouter_training import *
from model_test import *

2024-12-04 07:59:49.220930: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-12-04 07:59:49.244679: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-12-04 07:59:49.272692: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-12-04 07:59:49.281155: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-12-04 07:59:49.301701: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
bsk24_variations_data = get_bsk24_varians_sample()
varian_number = 3 # Pick any number between 0 and 322118
varian = bsk24_variations_data.iloc[varian_number][:] # Get the mass table of the picked varian

In [3]:
get_bsk24_varian_mass_table(varian)

       Z    N    A        mass
0      8   13   21    6.721549
1      8   16   24   15.467500
2      9   14   23   -0.535711
3      9   17   26   14.954800
4     10   14   24   -8.374080
..   ...  ...  ...         ...
724  103  153  256   89.708870
725  104  154  258   96.199670
726  106  154  260  106.718300
727  108  156  264  120.011300
728  110  159  269  134.196500

[729 rows x 4 columns]

In [13]:
mass_dict = ast.literal_eval(varian['mass_table'])
mass_table = pd.DataFrame(mass_dict)
mass_table

       Z    N    A        mass
0      8   13   21    6.706085
1      8   16   24   15.523230
2      9   14   23   -0.585194
3      9   17   26   14.973130
4     10   14   24   -8.411092
..   ...  ...  ...         ...
724  103  153  256   89.556330
725  104  154  258   94.544000
726  106  154  260  104.950000
727  108  156  264  118.160400
728  110  159  269  132.607900

[729 rows x 4 columns]